@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

ul,
ul li,
ol,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

.col-4 {
  width: calc(100%/3);
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  padding-left: 1rem;
  padding-right: 1rem;
}

.bg-gray {
  background-color: rgb(246, 248, 250);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}


.image-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
}

.detail {
  width: 60%;
}

.multipel-img {
  width: 150px;
}

.single-img {
  width: calc(100% - 150px);
  padding-left: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.menu li {
  margin-left: 30px;
}

.menu a {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 2rem 0;
  display: inline-block;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.space {
  padding: 3rem 0;
}

.form-control {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f4f4f4f4;
  color: #000;
  text-transform: capitalize;
}

.mb-5 {
  margin-bottom: 2rem;
}

.menu li {
  margin-left: 30px;
}

.menu a {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 2rem 0;
  display: inline-block;
}

.form-control {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f4f4f4f4;
  color: #000;
  text-transform: capitalize;
}

.form-control:focus {
  outline: none;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}


.category button {
  width: 100%;
  text-align: left;
  border: 0;
  background: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  color: #848484;
  cursor: pointer;
}

.category li {
  padding: 0.3rem 0;
  border-bottom: 1px dashed #f4f4f4;
}

#company {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: #848484;
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.colors li {
  margin-right: 0.5rem;
}

.colors button {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 2px solid transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.range_slider {
  width: 100%;
}

.button {
  padding: 0.8rem 2rem;
  font-size: 0.9rem;
  border: 0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.danger {
  background: #ce5353;
}

.danger:hover {
  background: #cc2323;
}

.active,
.active button {
  color: #f00;
}

.button-grid {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  background: #e0dede;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button-grid.active {
  background: #000;
  color: #fff;
}

.p-5 {
  padding: 1rem;
}

.border-radius {
  border-radius: 5px;
}

.button-grid {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  background: #e0dede;
  border: 0;
  border-radius: 5px;
}

.button-grid.active {
  background: #000;
  color: #fff;
}

.single-product a {
  margin-bottom: 30px;
  display: block;
  ;
}

.single-product .image_box {
  position: relative;
  overflow: hidden;
  line-height: 0;
  border-radius: 5px;
}

.single-product .image_box img {
  height: 200px;
  object-fit: cover;
  transition: 0.5s all;
}

.single-product a:hover .image_box img {
  transform: scale(1.2);
}

.single-product .image_box:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  display: block;
  z-index: 1;
}

.single-product a:hover .image_box:before {
  background-color: rgb(0 0 0 / 50%);
}

.single-product .detail {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f4f4f4;
}

.single-product .detail h4,
.single-product .detail h6 {
  text-transform: capitalize;
}

.single-product.listing a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.single-product-detail .detail {
  width: 60%;
  padding-left: 50px;
}

.single-product.listing .image_box {
  width: 40%;
}

.single-product.listing .detail {
  width: 60% !important;
  background: transparent;
}


.single-product.listing .image_box img {
  width: 100%;
}

.single-product .category {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff !important;
  z-index: 999;
  display: inline-block;
  color: #000;
}

.single-product .category {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff !important;
  z-index: 999 !important;
  display: inline-block !important;
  color: #000;
  line-height: 1.5rem;
  padding: 0 1rem;
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

.listing {
  display: flex;
  align-items: flex-start;
      padding-left: 1rem;
        padding-right: 1rem;
}

.single-product.listing .detail h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.single-product.listing .detail h6 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.single-product.listing .detail p {
  margin-bottom: 1rem;
}

.col-6 {
  width: 50%;
}

.hero-section {
  padding: 5rem 0;
}

.hero-section span {
  color: #ff9d07;
  font-weight: 400;
}

.hero-section h2 {
  font-weight: 500;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.hero-section p {
  line-height: 2rem;
  margin-bottom: 1rem;
}

.hero-section a {
  display: inline-block;
  background: #fe9b02;
  color: #fff;
  font-weight: 400;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  transition: 0.5s all;
}

.hero-section a:hover {
  background: #be7605;
}

.hero-img img {
  height: 390px;
}

.hero-img {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-img:before {
  content: '';
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  background: rgb(254 155 2 / 30%);
  right: 0;
  top: 0;
  z-index: -1;
}

.main-title {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.main-title:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 3px;
  background: #fe9b02;
}

.map-ifram,
.map-ifram:focus {
  width: 100%;
  height: 400px;
  border: 0;
  outline: 0;
}

.button-style {
  display: inline-block;
  background: #fe9b02;
  border-color: #fe9b02;
  color: #fff;
  font-weight: 400;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  transition: 0.5s all;
  font-size: 1rem;
}


.amount-toggle {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-between;
}

.amount-toggle button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.amount-style {
  color: #d48305;
  font-weight: 500;
  font-size: 1.5rem;
}



.amount-toggle {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-between;
}

.amount-toggle button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.amount-style {
  color: #d48305;
  font-weight: 500;
  font-size: 1.5rem;
}

.product-data-warranty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #e0e0e0;
  padding-bottom: 1rem;
}

.product-data-warranty .product-warranty-data {
  text-align: center;
}

.product-data-warranty svg {
  width: 50px;
  height: 50px;
  background: #f4f4f4;
  border-radius: 100%;
  padding: 0.8rem;
}

.product-data-warranty p {
  font-weight: 500;
}


.colors p {
  display: flex;
  align-items: center;
  font-weight: 500
}

.colors p>* {
  margin-left: 0.5rem;
}

hr {
  border-top: #adadad;
  margin: 1.5rem 0;
}

.ex-detail>* {
  font-size: 1.2rem;
  line-height: 38px;
}

.ex-detail span {
  font-weight: 500;
}


.product-data-real-price {
  color: #e18900;
  font-weight: 500;
  font-size: 1.2rem;
}

.icon-style span {
  color: #e38b04;
  font-size: 1.2rem;
}

.icon-style {
  display: flex;
  align-items: center;
}

.icon-style .revd {
  font-weight: 500;
  margin-left: 5px;
}

.description-product {
  line-height: 31px;
  font-size: 1.2rem;
}


.error {
  text-align: center;
  padding: 3rem;
}

.error h2 {
  font-size: 8rem;
  color: #fe9b02;
}

.error h3 {
  font-size: 2rem;
  margin: 1rem;
}

.error p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 39px;
}

.cart_table {
  width: 100%;
  border-collapse: collapse;
}

.cart_table thead td {
  font-weight: 500;
  font-size: 1.1rem;
}

.cart_table figure img {
  width: 50px;
  height: 40px;
  object-fit: cover;
}

.cart_table .cart-image--name {
  display: flex;
  align-items: center;
}

.cart_table .cart-image--name>div:first-child {
  margin-right: 1rem;
}

.cart_table .cart-image--name>* {
  font-weight: 500;
  line-height: 26px;
}

.color-style {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.color-div {
  display: flex;
  align-items: center;
}

.color-div>* {
  margin-right: 0.5rem;
}

.cart_table thead td {
  padding: 1rem 0;
  border-bottom: 1px solid #000;
}

.cart_table tbody td {
  padding: 1rem 0;
}

.cart_table .remove_icon {
  color: #f00;
}


.cart-two-button {
  display: flex;
  justify-content: space-between;
}

.mt-5 {
  margin-top: 2rem;
}


.order-total--amount {
  display: flex;
  justify-content: flex-end;
}

.order-total--subdata {
  background: #f4f4f4;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 8px;
}

.order-total--subdata>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.order-total--subdata p {
  font-weight: 500;
  line-height: 34px;
  text-transform: capitalize;
}

.order-total--subdata hr {
  border: 1px solid rgb(0 0 0 / 10%);
}

.footer {
  padding: 2rem;
  margin-top: 1rem;
  border-top: 2px solid #d7d7d7;
}


.contact-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form .single-field {
  margin-top: 1.5rem;
}

.contact-form textarea {
  height: 150px;
}

.loading {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  width: 300px;
  height: 300px;
  /* animation: animName 2s linear infinite; */
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


















/* footer */
.footer {
  padding-bottom: 50px;
}

.footer-info,
.footer-links {
  margin-bottom: 40px;
}

#footer-10 .footer-info {
  margin-bottom: 40px;
  padding-bottom: 55px;
  border-bottom: 1px solid #dbdddf;
}

#footer-10 .footer-links {
  margin-bottom: 30px;
}

/*------------------------------------------*/
/*  FOOTER LOGO
/*------------------------------------------*/

img.footer-logo,
img.footer-logo-dark {
  width: auto;
  max-width: inherit;
  max-height: 40px;
}

#footer-10 img.footer-logo {
  max-height: 46px;
}

#footer-1 .footer-logo,
#footer-5 .footer-logo,
#footer-6 .footer-logo,
#footer-7 .footer-logo {
  margin-bottom: 25px;
}

/*------------------------------------------*/
/*  FOOTER TYPOGRAPHY
/*------------------------------------------*/

.footer h6 {
  line-height: 1;
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}

#footer-9.footer h6 {
  line-height: 1.5;
}

.bg--black.footer h6 {
  color: #fff;
}

/*------------------------------------------*/
/*  FOOTER INFO
/*------------------------------------------*/

.footer-info-copyright p {
  margin-bottom: 0;
}

.footer-info-copyright p span {
  position: relative;
  top: 2px;
  padding: 0 2px;
}

.footer-info-copyright.ico-15 [class*="flaticon-"]:before,
.footer-info-copyright.ico-15 [class*="flaticon-"]:after {
  font-size: 0.85rem;
}

/*------------------------------------------*/
/*  FOOTER MAIL LINK
/*------------------------------------------*/

.footer .footer-mail-link {
  margin-left: 3px;
  margin-bottom: 0;
}

#footer-1 .footer-info .footer-mail-link {
  margin-top: 10px;
}

#footer-2 .footer-links .footer-mail-link,
#footer-3 .footer-links .footer-mail-link {
  margin-left: 0;
  margin-bottom: 20px;
}

.footer-mail-link a {
  font-weight: 400;
}

.footer-mail-link span {
  position: relative;
  top: 4px;
  right: 3px;
}

.footer-mail-link.ico-20 [class*="flaticon-"]:before,
.footer-mail-link.ico-20 [class*="flaticon-"]:after {
  font-size: 1.125rem;
}

.bg--black.footer .footer-mail-link a {
  color: #a0a7b1;
}

.bg--black.footer .footer-mail-link a:hover {
  color: #fff !important;
}

/*------------------------------------------*/
/*  FOOTER LINKS
/*------------------------------------------*/

#footer-2 .footer-links {
  padding-left: 10%;
}

.foo-links li {
  width: auto !important;
  display: block !important;
  vertical-align: top;
  clear: none !important;
  margin: 0;
  padding: 0;
}

.foo-links.ico-10 li span {
  position: relative;
  top: 1.5px;
  right: 3px;
}

#footer-8 .foo-links li {
  display: inline-block !important;
  padding-left: 20px;
}

#footer-8 .foo-links li.first-li {
  padding-left: 0;
}

#footer-10 .foo-links li {
  display: inline-block !important;
  padding: 0 10px;
}

.footer .foo-links li p {
  font-weight: 400;
  margin-bottom: 10px;
}

.footer .foo-links li:last-child p {
  margin-bottom: 0;
}

.foo-links li a span.ext-link {
  display: inline-block;
  position: relative;
  left: 3px;
  top: 1.5px;
  transform: rotate(-60deg);
}

.foo-links.ico-15 [class*="flaticon-"]:before,
.foo-links.ico-15 [class*="flaticon-"]:after {
  font-size: 0.75rem;
}

.bg--black.footer .foo-links li p a {
  color: #a0a7b1;
}

.bg--black.footer .foo-links li p a:hover {
  color: #fff !important;
}

/*------------------------------------------*/
/*  FOOTER SOCIAL
/*------------------------------------------*/

.footer-socials {
  margin: 0;
  display: inline-block;
}

.footer-socials li {
  float: left;
  width: auto !important;
  display: inline-block !important;
  vertical-align: top;
  clear: none !important;
  margin: 0;
}

.footer-socials a {
  display: block;
  margin-right: 15px;
}

.footer-socials.ico-20 a,
.footer-socials.ico-25 a {
  margin-right: 16px;
}

.footer-socials.ico-25 [class*="flaticon-"]:before,
.footer-socials.ico-25 [class*="flaticon-"]:after {
  font-size: 1.325rem;
}

.bg--black.footer .footer-socials li a {
  color: #a0a7b1;
}

.bg--black.footer .footer-socials li a:hover {
  color: #fff !important;
}

/*------------------------------------------*/
/*  FOOTER STORE BAGES
/*------------------------------------------*/

.footer .store {
  float: none;
  margin-right: 0;
  margin-bottom: 15px;
}

/*------------------------------------------*/
/*  FOOTER NEWSLETTER FORM
/*------------------------------------------*/

.footer-form {
  margin-bottom: 20px;
}

#footer-7 .footer-form {
  padding-left: 8%;
}

.footer-form .newsletter-form .input-group {
  background-color: #f4f4f4;
  border: 1px solid transparent;
  padding: 9px 2px;
}

.footer-form .form-control {
  height: 32px;
  background-color: transparent;
  border: none;
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 10px;
  box-shadow: none;
}

/*------------------------------------------*/
/*  Newsletter Form Input Focus
/*------------------------------------------*/

.footer-form .form-control:focus {
  border: none;
  border-right: none;
  outline: 0;
  box-shadow: none;
}

/*------------------------------------------*/
/*  Footer Form Placeholder
/*------------------------------------------*/

.footer-form .form-control::-moz-placeholder {
  color: #6c757d;
}

.footer-form .form-control:-ms-input-placeholder {
  color: #6c757d;
}

.footer-form .form-control::-webkit-input-placeholder {
  color: #6c757d;
}

/*------------------------------------------*/
/*  Newsletter Form Button
/*------------------------------------------*/

.footer-form .btn {
  height: 32px;
  padding: 0 10px;
}

.footer-form .ico-15 [class*="flaticon-"]:before,
.footer-form .ico-15 [class*="flaticon-"]:after {
  line-height: 28px !important;
}

/*------------------------------------------*/
/*  Footer Form Notification
/*------------------------------------------*/

.footer-form .form-notification {
  color: #1680fb;
  font-size: 0.85rem;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 5px;
}

.footer-form .form-notification.valid,
.footer-form .form-notification.error {
  color: #fc2f4b;
}

.footer-form .newsletter-form.valid {
  color: #0fbc49;
}

/*------------------------------------------*/
/*  BOTTOM FOOTER
/*------------------------------------------*/

.footer hr {
  margin-top: 30px;
  margin-bottom: 50px;
}

#footer-8 .bottom-footer,
#footer-9 .bottom-footer {
  margin-top: 20px;
}

/*------------------------------------------*/
/*  BOTTOM FOOTER COPYRIGHT
/*------------------------------------------*/

.footer-copyright p {
  margin-bottom: 0;
}

.bg--black.footer .footer-copyright p {
  color: #a0a7b1;
}

/*------------------------------------------*/
/*  BOTTOM FOOTER SECONDARY LINK
/*------------------------------------------*/

.bottom-secondary-link p {
  margin-bottom: 0;
}

.bottom-secondary-link p span {
  position: relative;
  top: 1px;
  padding: 0 2px;
}

.bottom-secondary-link.ico-15 [class*="flaticon-"]:before,
.bottom-secondary-link.ico-15 [class*="flaticon-"]:after {
  font-size: 0.75rem;
}

/*------------------------------------------*/
/*  BOTTOM FOOTER LINKS
/*------------------------------------------*/

.bottom-footer-list li,
.bottom-footer-socials li,
.bottom-footer-payment li {
  width: auto !important;
  display: inline-block !important;
  vertical-align: top;
  clear: none !important;
}

.bottom-footer-socials li {
  padding-left: 14px;
}

#footer-4 .bottom-footer-list li,
#footer-9 .bottom-footer-list li {
  padding-left: 15px;
}

#footer-4 .bottom-footer-list li.first-li,
#footer-9 .bottom-footer-list li.first-li {
  padding-left: 0;
}

#footer-10 .bottom-footer-socials li {
  padding: 0 15px;
}

.footer-list-divider {
  position: relative;
  top: -0.5px;
  transform: rotate(-90deg);
  margin-left: 4px;
}

.bottom-footer-list.ico-15 [class*="flaticon-"]:before,
.bottom-footer-list.ico-15 [class*="flaticon-"]:after {
  font-size: 0.8rem;
}

.bottom-footer-list li p {
  display: inline-block;
  float: left;
  margin-bottom: 0;
}

.bottom-footer-socials li span {
  position: relative;
  top: 4px;
  opacity: .8;
}

.bottom-footer-payment li span {
  line-height: 1 !important;
  position: relative;
  top: 4px;
  opacity: .8;
}

#footer-4 .bottom-footer-list li span,
#footer-9 .bottom-footer-list li span {
  margin-top: 1px;
  margin-right: 2px;
}

.bottom-footer-socials.ico-20 [class*="flaticon-"]:before,
.bottom-footer-socials.ico-20 [class*="flaticon-"]:after {
  font-size: 1.115rem;
}

.bottom-footer-socials.ico-25 [class*="flaticon-"]:before,
.bottom-footer-socials.ico-25 [class*="flaticon-"]:after {
  font-size: 1.25rem;
}

.bg--black.footer .bottom-footer-list li p a {
  color: #a0a7b1;
}

.bg--black.footer .bottom-footer-list li p a:hover {
  color: #fff !important;
}

.col-xl-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-xl-3 {
  flex: 0 0 auto;
  width: 25%;
}

.slick-slider .single-item img {
  max-width: 60%;
  height: auto;
  margin: 0 auto;
}


ul.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

ul.slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid #fe9b02;
  background: #fe9b022e;
  border-radius: 100%;
}

ul.slick-dots li {
  margin: 0 0.5rem;
}

ul.slick-dots .slick-active button {
  border-color: #fe9b02;
  background: #fe9b02;
}

header {
  transition: all 1s ease-in-out;
}

header.sticky {
  transition: all 1s ease-in-out;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.left > div {
  position: sticky;
  top: 120px;
}