$black: #000;
$white: #fff;
$lightwhite: #F7F9F9;
$lightwhite-200: #F7F9F9;
$lightwhite-500: #F4F4F4;
$lightwhite-600: #F3F6FF;
$lightwhitedevider: #dedede;
$lightgrey: #EDF0F3;
$lightgrey-100: #E0E0E0;
$inputborderwhite: #ced4da;
$titleborder: #B9B9B9;
$skyblue: #007DB5;
$blueshadelight: #bee6fa;
$bluelight1: #0A9EE2;
$textblack: #2B2B2B;
$blacklight: #4f4f55;
$lightgreen:#25ab71;
$darkgrey:#B9B9B9;
$lightblue:#5B97D5;
$grey100: #92929D;
$grey200: #cccccc;
$grey500: #9E9E9E;
$lightblack: #363636;
$black21: #212529;
$lightskyblue: #E0F5FF;
$labelblacklight: #363636;
$inputblacklight: #363636;
$darkblue: #0852C4;
$blue: #004cb0;
$blue500: #230F80;
$borderblue: #0051CC;
$borderlightblue: #4682bf;
$gradientlightblue: #2EA2DB;
$red: #dc3545;
$red1: rgb(255, 0, 0);
$darkestblue:#0852c424;
$darkblack1: #333333;
$blue42: #426c9e;
$lightergrey: #aaa;
$grey6: #666;
$lightestgrey: #ccc;
$lightgrey100:#F4F4F4;
$black100: #181818;
$blue100:#008BCA;
$blue200: #098ECB;
$grey400: #535353;
$grey300: #414141;
$yellow1: #ffe484;
$activegreen: #298056;
$blue6: #E6EBFF;
$greenlight: #4bb71b;
$flagGreen : #A9DFBF;
$flagRed: #F5B7B1;
$darkyellow: #e4af17;