@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}



.main-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: 1rem;
}

.main-todo h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.add-todo {
  width: 100%;
}

.add-todo form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  margin-top: 2rem;
}

.nav-list a {
  margin: 0 1rem;
}